.invalid {
  border: 2px solid red;
  border-radius: 4px;
}

section { margin-bottom: 1em; }

section > label {
  display: inline-block;
}

section > label > * {
  display: block;
  margin-right: 0.8em;
}

#birds > label > * {
  display: block;
}

input[type="text"] {
  width: 6em;
}

div > label {
  border: 1px solid gray;
  border-radius: 4px;
  margin-right: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

div > label.bird_checked {
  background-color: #55ff55;
}

table { border-collapse: collapse; }
table td { border-left: 1px solid black; border-right: 1px solid black; }
table td:first-child { border-left: none; }
table td:last-child { border-right: none; }
tr.local-date-first-row { border-top: 1px solid black; }
td.utc-date-first-row { border-top: 1px solid black; }
td.bird-first-row { border-top: 1px solid black; }
