.invalid {
  border: 2px solid red;
  border-radius: 4px;
}

section { margin-bottom: 1em; }

section > label {
  display: inline-block;
}

section > label > * {
  display: block;
  margin-right: 0.8em;
}

#birds > label > * {
  display: block;
}

input[type="text"] {
  width: 6em;
}

div > label {
  border: 1px solid gray;
  border-radius: 4px;
  margin-right: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

div > label.bird_checked {
  background-color: #55ff55;
}
